@using TutoSearch.Data.Static;
@model IEnumerable<Professor>

@{
    ViewData["Title"] = "List Of Professors";
}

<div class="container-fluid mt-3" style="max-width: 1120px;">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 10%">@Html.DisplayNameFor(m => m.ProfilePictureURL)</th>
                <th scope="col" style="width: 15%">@Html.DisplayNameFor(m => m.FullName)</th>
                <th scope="col" style="width: 65%">@Html.DisplayNameFor(m => m.Bio)</th>
                <th scope="col" style="width: 10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var professor in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded" src="@professor.ProfilePictureURL" alt="@professor.FullName" style="max-width: 100px" />
                        </div>
                    </td>
                    <td class="text-start align-middle">@professor.FullName</td>
                    <td class="text-start align-middle"><p align="justify">@professor.Bio</p></td>
                    <td>
                        <div class="d-flex justify-content-evenly align-middle">
                            @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                            {
                                <a asp-action="Edit" asp-route-id="@professor.Id"><i class="fa-solid fa-pen-to-square" id="edit-icon"></i></a>
                            }
                            <a asp-action="Details" asp-route-id="@professor.Id"><i class="fa-solid fa-circle-info" id="info-icon"></i></a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                            {
                                <a asp-action="Delete" asp-route-id="@professor.Id"><i class="fa-solid fa-trash-can" id="delete-icon"></i></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
{
    <div class="d-flex justify-content-end align-items-lg-end" style="position:fixed; right:20px; bottom: 15px;">
        <a asp-action="Create" class="btn btn-outline-success">
            <i class="fa-solid fa-circle-plus"></i> Añadir Nuevo
        </a>
    </div>
}